<h1 class="text-center josefin-font animated zoomIn" style="margin-top: 120px;">COVID-19</h1>
<br /><br />
<section id="intro">
    <div class="container">
        <div class="row">
            <!-- poster -->
            <div class="col-12 col-lg-6 col-sm-12">
                <img class="img-fluid corona" alt="Responsive image" title="Corona Virus"
                    src="assets/images/corona.png" onContextMenu="return false;" />
            </div>
            <div class="col-12 col-lg-6 col-sm-12 text-center">
                <h2 class="title animated zoomIn josefin-font" style="padding: 6px;">About</h2>
                <p class="raleway-font">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus that
                    attacks the respiratory tract of a person. The COVID-19 virus spreads primarily through droplets of
                    saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that
                    you also practice respiratory etiquette (for example, by coughing into a flexed elbow). At this
                    time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing
                    clinical trials evaluating potential treatments.</p>
                <p class="text-center raleway-font"><span class="josefin-font">Place of Birth: </span>Wuhan, China</p>
            </div>
        </div>
    </div>
</section>

<section id="symptoms">
    <div class="container">
        <h1 class="info-text text-center josefin-font"> Symptoms of Coronavirus <i class="fas fa-question fa-xs"></i></h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="card">
                    <div class="card-body">
                    <img class="img-fluid" alt="Responsive image" title="Fever" height="80" width="180"
                        src="assets/images/fever.png" onContextMenu="return false;" />
                    </div>
                    <div class="card-footer raleway-font">Fever</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="card">
                    <div class="card-body">
                    <img class="img-fluid" alt="Responsive image" title="Breathing Problem" height="80" width="180"
                        src="assets/images/breath_prblm.png" onContextMenu="return false;" />
                    </div>
                    <div class="card-footer raleway-font">Breathing Problem</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="card">
                    <div class="card-body">
                    <img class="img-fluid" alt="Responsive image" title="Coughing" height="80" width="180"
                        src="assets/images/coughing.png" onContextMenu="return false;" />
                    </div>
                    <div class="card-footer raleway-font">Coughing</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="prevention">
    <div class="container">
        <h1 class="info-text text-center josefin-font"> Avoiding Coronavirus <i class="fas fa-question fa-xs"></i></h1>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid" alt="Responsive image" title="Avoiding Packs" height="80" width="180"
                        src="assets/images/avoid_packs.png" onContextMenu="return false;" />
                    </div>
                    <div class="card-footer raleway-font">Avoid Crowding</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid" alt="Responsive image" title="Wash Hands" height="80" width="180"
                            src="assets/images/hand_sanitiser.png" onContextMenu="return false;" />
                    </div>
                    <div class="card-footer raleway-font">Wash Hands</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="card">
                    <div class="card-body">
                    <img class="img-fluid" alt="Responsive image" title="Cover Mouth" height="80" width="180"
                        src="assets/images/cover_mouth.png" onContextMenu="return false;" />
                    </div>
                    <div class="card-footer raleway-font">Cover Mouth</div>
                </div>                    
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="card">
                    <div class="card-body">
                    <img class="img-fluid" alt="Responsive image" title="Avoid Travel" height="80" width="180"
                        src="assets/images/avoidtravel.png" onContextMenu="return false;" />
                    </div>
                    <div class="card-footer raleway-font">Avoid Travel</div>
                </div>
            </div>
        </div>
    </div>
</section>